.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  width: 80%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.home-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.home-main-section .orange-feature-img {
  background-image: url(images/orange.png);
  flex-grow: 1;
  min-height: 50vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-self: center;
}

.main-header{
  background-color: rgba(131, 166, 186, 1);
  padding-right: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.navbar-nav>li>a {
  /* padding-top: 15px;
  padding-bottom: 15px; */
  color: white;
}



@media (max-width: 970px) {
  .home-main-section .img-wrapper {
    display: none;
  }

  .home-main-section {
    display: flex;
    justify-content: center;
    padding-top: 0;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
  }

  .logo {
    display: flex;
    max-width: 8rem;
  }

  .main-header{
    padding-right: 1rem;
  }
}


.home-page-circle-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgba(52, 87, 178, 0.1);
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}

.home-page-circle-2 {
  position: absolute;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: rgb(52, 87, 178, 0.1);
  top: 15vh;
  left: 30vw;
  z-index: -1;
}

.home-page-circle-3 {
  position: absolute;
  overflow: hidden;
  width: 45vw;
  height: 45vw;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.home-page-circle-3::before {
  content: "";
  transform: translate(40%, 40%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(52, 87, 178, 0.1);
}
