.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.section intro-section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.carousel {
  display: flex;
  padding-bottom: 2rem;
  padding-top: 3rem;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.owl-stage-outer {
  position: relative;
  overflow: hidden;
}

.owl-stage {
  position: relative;
  touch-action: manipulation;
}

.card {
  background: rgba(206, 228, 235, 0.51);
  border-radius: 33px;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.box {
  border: 1px solid #3390ad;
  border-radius: 33px;
  padding: 27px;
  text-align: center;
}

.register {
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.btn-register {
  padding: 0.85rem 11.81rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (max-width: 970px) {
  .card {
    display: inline-table;
  }
  .box {
    padding: 20px 20px;
  }

  .owl-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
  }
}
