.quiz-div {
  position: absolute;
  left: 50%;
  top: 50%;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  border: 1px solid #3390ad;
  border-radius: 2rem;
  padding: 2rem;
}

/* The answer selecteed by the user */
.selected {
  background-color: orange;
}

/* The list of options */
.options {
  min-width: 6rem;
  padding: 8px;
  text-align: center;
  border: 2px solid #000;
  cursor: pointer;
}
ul {
  list-style-type: none;
}

.option-div {
  display: flex;
  column-gap: 1rem;
  justify-content:center
}

@media (max-width: 970px) {
  .option-div {
    flex-wrap: wrap;
  }

  .h2, h2 {
    font-size: 24px;
    padding-bottom: 1rem;
}
}
