/* .App{
    text-align: center;
    font-family: Arial;
} */
/* The answer selecteed by the user */
.selected {
    background-color: #83a6ba;
}

.question{
    text-align: center;
}
/* The list of options */
.options{
    padding: 1rem;
    margin: 1rem;
    min-width: 7rem;
    text-align: center;
    border: 2px solid #000;
    cursor: pointer;
}


.btn{
    max-width: 32rem;
}

ul {
    list-style-type: none;
}

.fruit-selection{
    max-width: 60rem;
    margin: 16rem auto;
    border-radius: 2rem;
    padding: 3rem;
    background: rgba(206, 228, 235, 1);
    display: flex;
    align-items: center;
    text-align: center;
}
 
.quiz-container {
    display: flex;
    justify-content:center;
    flex-direction:row;
}

.quiz-main-container {
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* 
body{
    font-family: Verdana;
    font-size: 18px;
    background-color: #2980B9; 
} */