body {
  color: black;
}



.registration-title{
  text-align: center;
  padding-bottom: 1rem;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-top: 5%;
}

.join-text {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.accent-text {
  color: #3390ad;
}

.join-form {
  background-color: #83a6ba;
  width: 50vw;
  max-width: 50%;
  padding: 3rem 4rem;
  border-radius: 20px;
}

@media (max-width: 900px) {
  .join-main-section {
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
  }

  .join-form {
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
  }
  
}
