.navbar-brand {
  padding: 0;
  padding-top: 10px;
  width: 200px;
}

.navbar-header {
  text-align: center;
}

.logo {
  display: none;
}

.header-secondary {
  background-color: rgba(131, 166, 186, 1);
  z-index: 3;
}

.nav-items {
  padding: 2rem;
  font-size: 1.4em;
}

.nav-container {
  text-align: center;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}

.navbar-custom .navbar-toggle {
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  float: left;
  margin-left: 15px;
  background: none;
  margin-top: 21px;
}

.navbar-custom .navbar-toggle-right {
  float: right;
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}

.navbar-custom a {
  color: rgb(57, 172, 233);
}
.navbar-custom .nav li {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: rgb(233, 57, 166);
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}

.glyphicon-plus {
  font-size: 22px;
}

.navigation-icons {
  height: 34px;
}



@media (max-width: 970px) {
  
  .logo {
    display: flex;
    max-width: 8rem;
  }

}